body {
    text-align: center;
}

button {
    margin: 5px;
}

#calculator,
.row {
    display: flex;
    justify-content: center;
}

.row {
    justify-content: flex-end;
}

#operators,
#numpad {
    display: flex;
    flex-direction: column;
}