* {
    font-size: 2rem;
}

body {
    text-align: center;
}

button {
    margin: 5px;
}

#calculator,
.row {
    display: flex;
    justify-content: center;
}

#operators,
#numpad {
    display: flex;
    flex-direction: column;
}

.num,
.op,
#equals,
#clear {
    width: 2.5rem;
    height: 2.5rem;
}

#clear {
    font-size: 1.5rem;
    font-weight: 500;
}